.container {
  width: 100%;
  height: 150px;
  /*background: #965959;*/
  margin-top: 100px;
}



.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 34px;
  color: white;
}

.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}