.container {
  display: grid;
  grid-template-rows: 8fr 2fr;
}

.dialogs {
  color: black;
  display: grid;
  grid-template-areas: 'dialogsItem messages'
                        ". messageArea";
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 8fr 2fr;
  padding: 10px;
}

.messageArea {
  grid-area: messageArea;
  width: 80%;
  height: 96px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 8px;
}

.messageArea:focus {
  outline: none;
}